<div class="tabbar">
<a class="tab" href="/">Play</a>
<a class="tab" href="/login">Login</a>
<a class="tab" href="/register">Register</a>
<a class="tab" href="/change_password">Change Password</a>
<a class="tab" href='javascript:(function(){document.cookie.split(";").forEach(function(c) { document.cookie = c.replace(/^ +/, "").replace(/=.*/, "=;expires=" + new Date().toUTCString() + ";path=/"); });window.location.href="/login"}())'>Logout</a>
</div>
